

body, html {
    background: linear-gradient(237deg, #0b0a0c, rgb(47, 55, 59));
    margin: 0;
    height: 100%;
}

.container {
    border: 2px solid #6b6b6b;
    margin: auto;
    margin-top: 5%;
    width: 45%;
    height: 82%;
    display: grid;
    grid-template-rows: 0.8fr 1.6fr 1fr;
    background-color: rgba(0, 0, 0, 0.27);
}

.searchBar {
    /*border: 1px solid green;*/
    grid-row: 1 / 1;
}

.movieDisplay {
    grid-row: 2 / 2 ;
    /*border: 1px solid #565251;*/
    display: flex;
    flex-direction: row;
}

.movieImage {
    border: 1px solid #565251;
    height: 100%;
    width: 30%;
}

.movieDetailsContainer {
    border: 1px solid #565251;
    height: 100%;
    width: 70%;
    display: flex;
    /*flex-direction: column;*/
}

.movieDescriptionAndCast {

}

.movieDetails {
    border: 2px solid #676758;
    margin: auto;
    margin-top: 7.5%;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.movieTitle {
    /*border: 2px solid green;*/
    text-align: center;
    width: 100%;
    height: 10%;
    color: white;
    font-size: 50px;
    padding-top: 1%;
    font-weight: bold;
    text-decoration: underline;
}

.movieRating {
    /*border: 2px solid pink;*/
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    margin-top: 5.5%;
    padding-top: 2%;
}

.ratingAndImage {
    /*border: 2px solid red;*/
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;;
}

#starImage {
    height: 100%;
    width: 30%;
    /*border: 1px solid green;*/
}

#starImage img {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

#rating {
    /*border: 1px solid orange;*/
    height: auto;
    width: 70%;
    color: rgba(197, 158, 7, 0.78);
    font-size: 400%;
    font-family: monospace;
    text-align: center;
}


.movieFigures {
    margin: 6% auto 0;
    /*border: 2px solid turquoise;*/
    width: 75%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.movieFigureContainer {
    border: 1px solid #b9b9b9;
    height: 80%;
    width: 27%;
}

#imageContainer {
    border: 2px solid #0e0c01;
    margin: 7.5% auto auto;
    width: 90%;
    height: 90%;
}

#imageContainer img {
    width: 100%;
    height: 100%;
}

.movieGenres {
    margin-top: 5%;
    /*border: 2px solid #de22c3;*/
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.movieGenreContainer {
    border: 1.5px solid #e5e5e5;
    border-radius: 5%;
    height: 80%;
    width: 27%;
    color: #b9b9b9;
    text-align: center;
    padding-top: 2%;
    font-family: monospace;
    font-size: 2em;
}

.plotAndCastContainer {
    margin: auto;
    border: 1px solid #888888;
    width: 93%;
    height: 89%;
    display: flex;
    flex-direction: column;

}

.plotContainer {
    /*border: 1px solid crimson;*/
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.castContainer {
    /*border: 1px solid #ff76fc;*/
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

#plotTitle {
    width: 100%;
    height: 20%;
    border-top: 1px solid #7a7a7a;
    color: #e5e5e5;
    font-size: 30px;
}

#castTitle {
    width: 100%;
    height: 20%;
    border-top: 1px solid #7a7a7a;
    color: #e5e5e5;
    font-size: 30px;
}

#castDescription, #plotDescription {
    padding-top: 2.5%;
    color: #e5e5e5;
    font-size: 23px;
}

.searchAndEnterContainer {
    margin: auto;
    margin-top: 3%;
    width: 93%;
    height: 68%;
    /*border: 1px solid yellow;*/
    display: flex;
    flex-direction: row;
}

.searchBarContainer {
    width: 75%;
    margin: auto;
    height: 60%;
    /*border: 1px solid green;*/
}

.searchButtonContainer {
    margin: auto;
    width: 25%;
    height: 60%;
    /*border: 1px solid red;*/
}

#searchButton {
    border: 1px solid grey;
    border-radius: 5%;
    background-color: #948400;
    margin-top: 2%;
    width: 90%;
    height: 88%;
    margin-left: 7%;
    color: #000000;
    font-size: 27px;
}

#searchButton:hover {
    background-color: #cbb70c;

}

#searchInput {
    margin-top: 1.5%;
    border: 1px solid #b9b9b9;
    width: 98%;
    height: 76%;
    background-color: #1f1b1b;
    font-size: 25px;
    color: #e5e5e5;
}

.movieDisplayContainer {
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /*border: 2px solid purple;*/
    margin: auto;
}


#ageRating, #movieLength, #releaseDate {
    color: whitesmoke;
    font-family: monospace;
    font-size: 2em;
    text-align: center;
    padding-top: 2%;
}

.hide {
    display: none;
}

.popularAndTopRatedContainer {
    border: 2px solid #595959;
    border-radius: 10%;
    margin: auto;
    margin-top: 2.5%;
    width: 75%;
    height: 95%;
    display: grid;
    grid-template-rows: 0.26fr 2fr;
    background: rgba(3, 0, 31, 0.78);
    background: -moz-linear-gradient(-45deg, rgba(3, 0, 31, 0.78) 0%, #280000 50%, rgba(3, 0, 31, 0.78) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(3, 0, 31, 0.78) 0%, #460303 50%, rgba(3, 0, 31, 0.78) 100%);
    background: linear-gradient(135deg, rgba(3, 0, 31, 0.78) 0%, #260101 50%, rgba(3, 0, 31, 0.78) 100%);
}

.conatiner2Header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 17%;
}

.container2Title {
    border-bottom: 1px solid black;
    margin: auto;
    text-align: center;
    text-decoration: underline;
    font-family: monospace;
    font-size: 3em;
    width: 30%;
    height: 50%;
    color: white;
}

.moviesDisplayed {
    margin: -3% auto auto;

    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
    gap: 10px;
    /*padding-top: 10%;*/
}

.displayedMovie {
    /*margin: auto;*/
    width: 250px;
    height: 330px;
    border: 1px solid #000000;
    background: white;
}

.displayedMovie:hover {
    border: 1.5px solid white;
}

.displayedMovie img {
    width: 100%;
    height: 100%;
}


#closeBtn {
    color: white;
    background: red;
    border: 1px solid black;
    border-radius: 10%;
}

.logo {
    /*border: 1px solid chartreuse;*/
    width: 10%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Aligns content to the left */
    align-items: center; /* Optional: vertically centers the image */
    color: white;
    font-size: 500%;
    margin-left: 4%;
    margin-top: 0.5%;
}


.logo img {
    display: block; /* Ensures the image behaves like a block element */
    margin-left: 0; /* Removes any left margin */
    width: 100%;
    height: 100%;
}

.container2Notice {
    width: 55%;
    height: 15%;
    color: white;
    font-size: 80%;
    font-family: monospace;
    margin-top: -1.5%;
    margin-left: 12%;

}
